﻿*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 70px;
}
.curso {
    background-color: #4054B2;
    height: 350px;
    width: auto;
}

p {
    font-family: quicksand;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-seleccionado.list-group-item:hover {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
}

.si-seleccionado {
    background-color: darkgrey;
    background-size: 50%;
    border-bottom-color: blue;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #514F51;
    cursor: pointer;
    font-weight: bold;
}
a:hover{
    color: black;
}
/*COMENTARIOS*/

.media-body {
    padding: 20px;
    position: relative;
    background-color: gray;
    border-radius: 5px;
    margin-right: 40px;
    margin-left: 10px;
}
.dudas{
    margin-left: 10px;
}
.coment {
    margin-right: 40px;
    margin-left: 10px;
}

.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}

    .media-date li {
        padding: 0;
    }

        .media-date li:first-child:before {
            content: '';
        }

        .media-date li:before {
            content: '.';
            margin-left: -2px;
            margin-right: 2px;
        }

.media-comment {
    margin-bottom: 20px;
}

.media-replied {
    margin: 0 0 20px 50px;
}

    .media-replied .media-heading {
        padding-left: 6px;
    }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 5px;
}

    .btn-circle span {
        padding-right: 6px;
    }

.embed-responsive {
    margin-bottom: 20px;
}

.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}

input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
    left: 0;
}

.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

.custom-input-file:hover .uploadPhoto {
    display: block;
}

.reply {
    transform: rotate(180deg);
}


.pre {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    z-index:9999;
    display:none;
}

.prebg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 9899;
    display: none;
}
/*================================PROGRESO========================================*/
