﻿<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <link href="/css/TemasCurso.css" rel="stylesheet" />
</head>
<body>
    <div class="prebg"></div>
    <div class="pre">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve" width="30" height="30">

        <rect fill="#FBBA44" width="15" height="15">
        <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="1.7s" values="0,0;15,0;15,15;0,15;0,0;" repeatCount="indefinite" />
		</rect>	

        <rect x="15" fill="#E84150" width="15" height="15">
        <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="1.7s" values="0,0;0,15;-15,15;-15,0;0,0;" repeatCount="indefinite" />
		</rect>	
      
        <rect x="15" y="15" fill="#62B87B" width="15" height="15">
        <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="1.7s" values="0,0;-15,0;-15,-15;0,-15;0,0;" repeatCount="indefinite" />
		</rect>	

        <rect y="15" fill="#2F6FB6" width="15" height="15">
        <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="1.7s" values="0,0;0,-15;15,-15;15,0;0,0;" repeatCount="indefinite" />
		</rect>
    </svg>
    </div>


    <div class="mh-max bg-dark">
        <div class="row">
            <div class="col-7 pt-3">
                <div id="video" class="m-2 embed-responsive embed-responsive-21by9">                   
                    <img src="https://imagenes.universia.net/gc/net/images/educacion/p/pr/pro/profesores-8-consejos-para-crear-un-curso-online.jpg" alt="imagen Text" width="730" height="430" />
                </div>
            </div>
            <div class="col-5">
                <!-- bootstrap 5 Accordion -->
                @{ int i = 0;}
                <div class="accordion pt-3" id="accordionExample">
                    <h3 class="text-light">Contenido del Curso</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @(ViewBag.Progreso)%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@ViewBag.Progreso%</div>
                    </div>
                    @foreach (var item in ViewBag.Seccion)
                    {
                        if (i == 0)
                        {
                    <div class="accordion-item" id="colla">
                        <h2 class="accordion-header" id="@item.Id">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@i" aria-expanded="true" aria-controls="collapseOne">
                                <b>@item.Seccions.Secciones: @item.TemaSeccions</b>
                            </button>
                        </h2>

                        <div id="collapseOne_@i" class="accordion-collapse collapse show" aria-labelledby="@item.Id" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    @foreach (var item2 in ViewBag.TemaContent)
                                            {
                                    @foreach (var item3 in ViewBag.Progresos)
                                            {

                                    if (item2.IdSecciones == item.IdSeccion && item3.progress && item3.IdTemaCon == item2.Id)
                                                {
                                    <div class="list-group list-group-item">

                                        <div class="form-check">
                                            <a href="/CursoTemas/AñadirProgreso?id=@item2.Id&cur=@item.IdCurso">
                                                T
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                </label>
                                            </a>
                                            <a onclick="video(@item2.Id,@item2.IdTemaSeccion, this)" class="list-group-flush ">@item2.TemaContent</a>
                                        </div>
                                    </div>
                                                }
                                    else
                                    if (item2.IdSecciones == item.IdSeccion  && item3.IdTemaCon == item2.Id)
                                                {
                                    <div class="list-group list-group-item">

                                        <div class="form-check">
                                            <a href="/CursoTemas/AñadirProgreso?id=@item2.Id&cur=@item.IdCurso">
                                                T
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                </label>
                                            </a>
                                            <a onclick="video(@item2.Id,@item2.IdTemaSeccion, this)" class="list-group-flush ">@item2.TemaContent</a>
                                        </div>
                                    </div>
                                                }
                                            }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                        else
                        {

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@item.Id">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@i" aria-expanded="false">
                                <b>@item.Seccions.Secciones: @item.TemaSeccions</b>
                            </button>
                        </h2>
                        <div id="collapseOne_@i" class="accordion-collapse collapse" aria-labelledby="@item.Id" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="card">
                                    @foreach (var item2 in ViewBag.TemaContent)
                                            {
                                    @foreach (var item3 in ViewBag.Progresos)
                                            {

                                    if (item2.IdSecciones == item.IdSeccion && item3.progress && item3.IdTemaCon == item2.Id)
                                                {
                                    <div class="list-group list-group-item">

                                        <div class="form-check">
                                            <a href="/CursoTemas/AñadirProgreso?id=@item2.Id&cur=@item.IdCurso">
                                                T
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                </label>
                                            </a>
                                            <a onclick="video(@item2.Id,@item2.IdTemaSeccion, this)" class="list-group-flush ">@item2.TemaContent</a>
                                        </div>
                                    </div>
                                                }
                                    else
                                    if (item2.IdSecciones == item.IdSeccion  && item3.IdTemaCon == item2.Id)
                                                {
                                    <div class="list-group list-group-item">

                                        <div class="form-check">
                                            <a href="/CursoTemas/AñadirProgreso?id=@item2.Id&cur=@item.IdCurso">
                                                T
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                </label>
                                            </a>
                                            <a onclick="video(@item2.Id,@item2.IdTemaSeccion, this)" class="list-group-flush ">@item2.TemaContent</a>
                                        </div>
                                    </div>
                                                }
                                            }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                        i++;
                    }
                </div>
            </div>
        </div>
    </div>
    <h4 class="dudas text-light">¿Dudas del tema?</h4>

    <div id="comments">

        <div id="reply">

        </div>

    </div>


    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>