﻿@{
    var curso = (Curso)Model;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="form-group container">
        <h1 class="text-light">Crear Nombre Seccion</h1>
        <div class="float-left">
            <form action="/admin/CreateTemaSeccion?IdCurso=@curso.Id" method="post">

                <div class="pb-2">
                    <select class="form-control" name="IdSeccion">
                        @foreach (var item in ViewBag.secc)
                        {
                            <option value="@item.Id">@item.Secciones</option>
                        }
                    </select>                    
                </div>
                <div class="pb-2">
                    <input class="form-control" type="text" name="TemaSeccions" value="" placeholder="Nombre Sección" />
                </div>
                <div class="pb-2">
                    <input type="submit" class="btn btn-primary" value="Crear" />
                </div>
            </form>
        </div>
    </div>
    <div class="quitar container form-group">
        <h1 class="text-light">Crear Tema Contenido</h1>
        <div class="float-left">
            <form action="/admin/CreateTemaContenido?IdCurso=@curso.Id" method="post">
                <div class="pb-2">
                    <select class="form-control" name="IdSecciones">
                        @foreach (var item in ViewBag.secc)
                        {
                            <option value="@item.Id">@item.Secciones</option>
                        }
                    </select>
                    
                </div>
                <div class="pb-2">
                    <input class="form-control" type="text" name="TemaContent" value="" placeholder="TemaContent" />
                </div>
                <div class="pb-2">
                    <input type="submit" class="btn btn-primary" value="Crear" />
                </div>
            </form>
        </div>
    </div>

    <div class="quitar container">
        <h1 class="text-light">Crear Tema</h1>
        <div class="float-left">
            <form action="/admin/CreateTema?CursoId=@curso.Id" method="post">
                <div class="pb-2">                 
                    <select class="form-control" name="IdTemaContent">
                        <option value="">---SELECCIONE OPÍÓN---</option>
                        @foreach (var item in ViewBag.temacont)
                        {
                            <option value="@item.Id">@item.TemaContent</option>
                        }
                    </select>
                </div>
                <div class="pb-2">
                    <select id="Tema" class="form-control" >
                        <option value="option">---SELECCIONE OPÍÓN---</option>
                        <option value="Video">Video</option>
                        <option value="Texto">Texto</option>
                    </select>
                </div>
                <div class="pb-2">
                    <input hidden id="video" class="form-control" type="text" name="Videos" value="" placeholder="Link del Video" />
                    <textarea hidden id="texto" rows="10" class="form-control" name="Texto"></textarea>
                </div>
                <div class="pb-2">
                    <input type="submit" class="btn btn-primary" value="Crear" />
                </div>
            </form>
        </div>
    </div>
    @section Scripts { 
        <script>
            $('#Tema').change(function () {
                var obtener = $('#Tema').val();

                if (obtener == 'Video') {
                    $('#video').removeAttr('hidden', 'hidden');
                    $('#texto').attr('hidden', 'hidden');
                } else {
                    $('#video').attr('hidden', 'hidden');
                    $('#texto').removeAttr('hidden', 'hidden');
                }
                if (obtener == 'option') {
                    $('#video').attr('hidden', 'hidden');
                    $('#texto').attr('hidden', 'hidden');
                }
            });
        </script>
    }
</body>
</html>
