﻿@{ 
    var curso = (Curso)Model;
}
<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div role="main" class="quitar container">
        <h1 class="text-light">Crear Contenido Curso</h1>
        <div class="float-left">
            <form action="/admin/CreateContenido?IdCurso=@curso.Id" method="post">

                <div class="pb-2">
                    <textarea rows="10" cols="80" class="form-control" name="Aprender" placeholder="Aprender"></textarea>
                </div>
                <div class="pb-2">
                    <textarea rows="10" cols="80" class="form-control" name="Contenido" placeholder="Contenido"></textarea>
                </div>
                <div class="pb-2">
                    <textarea rows="10" cols="80" class="form-control" name="Requisitos" placeholder="Requisitos"></textarea>
                </div>
                <div class="pb-2">
                    <textarea rows="10" cols="80" class="form-control" name="Descripción" placeholder="Descripción"></textarea>
                </div>
                <div class="pb-2">
                    <textarea rows="10" cols="80" class="form-control" name="ParaQuienEs" placeholder="Para quien es"></textarea>
                </div>
                <div class="pb-2">
                    <input type="submit" class="btn btn-primary form-control"  value=" Crear" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>