﻿<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="float-left ocultar">
            <h1 class="text-light" style="text-align: center; font-family: 'Bookman Old Style';">Crear Curso</h1>
            <div class="float-left">
                <form action="/admin/create" method="post">
                    <div class="pb-2">
                        <input type="text" class="form-control" name="NombreProfesor" value="" placeholder="Nombre Profesor" />
                    </div>
                    <div class="pb-2">
                        <input type="text" class="form-control" name="NombreCurso" value="" placeholder="Nombre Curso" />
                    </div>
                    <div class="pb-2">
                        <input type="text" class="form-control" name="Detalle" value="" placeholder="Detalle" />
                    </div>
                    <div class="pb-2">
                        <input type="text" class="form-control" name="Caratula" value="" placeholder="Imagen" />
                    </div>
                    <div class="pb-2">
                        <input type="submit" class="Btn btn btn-primary form-control" value="Crear" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>